#page-header {
	/*border: 1px solid green;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

#biography {
	/*border: 1px solid red;*/
	padding: 5px;
	margin-top: 5px;
	height: 78%;
	font-size: 14px;
	overflow: auto;
}

div#btns {
    float: right;
    margin-right: 10px;
}

div.lang {
	float: left;
	width: 100%;
	height: 94%;
}

div#lang_en {
	padding-top: 26px;
}
