
#page-pointer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

#newsitem {
	width: 95%;
    height: 75%;
    overflow: auto;
/*	margin-top:2%;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}
h4 {
	margin: 0;
	padding: 0;
}
#twitter_widget {
	display: block;
	margin-left: 60px;
	padding-top: 5px;
	font-size: 12px;
    font-family: Helvetica;
}
