#page-pointer {
	/*border: 1px solid green;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
    margin-bottom: 10%;
}

#cbox {
    width: 96%; 
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cbox a img {
    border: none;
}

#photo-back {
    float: left;
	position: absolute;
	top: 520px;
	margin-left: -185px;
}
